* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 50px;
}

.card-container h2 {
  margin: 20px 0px;
}

.card-container .card {
  height: 200px;
  width: 25%;
  padding: 20px;
}

